.mission-bg {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/images/missions/missions.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #e9e1d2;
  display: flex;
  flex-direction: column;
}

.mission-window {
  width: 85%;
}
