<div class="main-bg">
  <div class="header-container">
    <div class="icon-5 header-container ic"></div>
    <div class="icon-6 header-container ic"></div>
  </div>
  <div class="content">
    <img class="claim" src="assets/images/claim.png"/>
  </div>
  <div class="container-count">
    <div class="container-count__info count-atico">
      <img class="count-atico__img" src="assets/images/atiko.png"/>
      <span class="count-atico__text"></span>
    </div>
    <div class="container-count__info count">
      <img src="assets/images/vopros.png" class="count__img"/>
    </div>
  </div>
  <div class="buttons-container">
    <div class="buttons-container__btn-font">
      <div class="icon-9 ic"></div>
    </div>
    <div class="buttons-container__btn-font">
      <div class="icon-1 ic"></div>
    </div>
    <div class="buttons-container__btn-font">
      <div class="icon-11 ic vh-4"></div>
    </div>
    <div class="buttons-container__btn-font">
      <div class="icon-2 ic"></div>
    </div>
    <div class="buttons-container__btn-font">
      <div class="icon-8 ic"></div>
    </div>
    <div class="buttons-container__btn-font">
      <div class="icon-12 ic"></div>
    </div>
  </div>
</div>
