@font-face {
  font-family: 'Didot';
  src: url('assets/fonts/Didot-Italic.ttf') format('truetype');
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Didot', serif;
}

.ic {
  color: #ae8f77;
}

.main-bg {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/images/main/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  display: flex;
  flex-direction: column; /* Stacks children vertically */
}

.header-container {
  display: flex;
  padding: 20px 10px 0 10px;
  font-size: 6vh;
  justify-content: space-between;
  flex: 0 0 auto;

  .icon-5 {
    filter: drop-shadow(2px 3px 0 #9c7052);
  }

  .icon-6 {
    filter: drop-shadow(-3px 3px 0 #9c7052)
  }
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-count {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 30px;
  flex: 0 0 auto;
  gap: 10px;
  margin: 0 20px;

  &__info {
    width: 100%;

    background: linear-gradient(to bottom, #cdbdb4, #bdb1a5);
    border-radius: 20px;
    box-shadow: inset 0 3px 4px rgba(96, 84, 68, 0.4);
    height: 5vh;
  }
}

.count-atico {
  display: flex;
  align-items: center;
  font-size: 2.5vh;

  &__img {
    padding-left: 20px;
    width: 3vh;
  }

  &__text {
    padding-left: 10px;
  }
}

.count {
  display: flex;
  align-items: center;

  &__img {
    width: 3vh;
    padding-left: 20px;
  }
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-end;
  padding: 0 20px 20px 20px;
  flex: 0 0 auto;

  &__btn-font {
    height: 10vh;
    background: linear-gradient(to bottom, #cdbdb4, #bdb1a5);
    border-radius: 20px;
    box-shadow: inset 0 3px 4px rgba(96, 84, 68, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(33.333% - 10px);
    font-size: 5vh;
    min-width: 80px;
  }

  .ic {
    filter: drop-shadow(0px -2px 0 #9c7052);
  }

  .vh-4 {
    font-size: 4vh;
  }
}

.icon-2 {
  margin-left: 10px;
}
