<div class="referrals-bg">
  <div class="title">Top Referals</div>
  <div class="users-container" *ngIf="!isOpenWindowReferrals">
    <div class="users" *ngFor="let user of referralsUser; let i = index">{{i + 1}}
      . {{user.name}}</div>
  </div>
  <img *ngIf="isOpenWindowReferrals" usemap="#image-map" src="assets/images/referrals/referrals-link.jpg" class="img"/>
  <div class="buttons-container">
    <div class="buttons-container__btn-font">
      <div class="icon-6 ic"></div>
    </div>
    <div class="buttons-container__btn-font" (click)="navigate('')">
      <div class="icon-4 ic vh-11"></div>
    </div>
    <div class="buttons-container__btn-font" (click)="openReferrals()">
      <div class="icon-7 ic vh-11"></div>
    </div>
  </div>

</div>
